<script type="text/javascript">
    <![CDATA[
    $(document).ready(function() {
        $("#jqctAccordion-]]>{data.uid}<![CDATA[").accordion({
            active : ]]>{settings.showfirst}<![CDATA[,
            animated : false,
            autoHeight: false,
            header : 'h3.header'
        });
    });
    ]]>
</script>

<div id="jqctAccordion-{data.uid}">
    <f:for each="{content}" as="ce" key="key">
        <div id="jqctAccordionContent-{data.uid}-{key}">
            <h3 class="header">{ce.header}</h3>
            <div>
                <f:format.html parseFuncTSPath="">{ce.content}</f:format.html>
            </div>
        </div>
    </f:for>
</div>